.container {
  position: relative;
}

.withLabel,
.withoutLabel input {
  border: none;
  border-radius: var(--input-border-radius);
  border-bottom: 2px var(--primary-purple) solid;
  background-color: var(--white);
  transition: border 350ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.withLabel.valid,
.withoutLabel.valid input {
  border-color: var(--success);
}

.withLabel.error,
.withoutLabel.error input {
  border-color: var(--error);
}

.withLabel.hovered,
.withLabel.focused,
.withoutLabel.hovered input,
.withoutLabel.focused input {
  border-color: var(--action-cyan);
}

.withLabel *,
.withoutLabel * {
  font-family: "Work Sans";
}

.withoutLabel {
  width: 100%;
  height: 4rem;
  margin-bottom: 4rem;
  cursor: text;
}

.withoutLabel input {
  width: inherit;
  height: inherit;
  padding: 1.25rem 1rem;
  font-size: 1.125rem;
  line-height: 2.875rem;
  outline: none;
}

.withoutLabel input:hover,
.withoutLabel input:focus {
  border-bottom: 2px var(--action-cyan) solid;
}

.withoutLabel input:disabled {
  border-bottom-color: var(--primary-purple);
}

.withoutLabel input:disabled {
  opacity: 0.2;
}

.withoutLabel span {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  font-size: 1.125rem;
  line-height: 1.55rem;
  padding: 1.25rem 1rem;
  user-select: none;
}

.withoutLabel.prefixed input {
  text-indent: 1.625rem;
}

.withLabel {
  width: 100%;
  height: 3.625rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

label.label {
  padding-top: 0.125rem;
  font-size: 0.875rem;
  line-height: 1rem;
  font-family: "Aeonik Bold";
  height: 1.625rem;
  color: var(--midnight);
  transition: all 350ms cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: text;
  user-select: none;
  display: inline-block;
}

.withLabel .prefix,
.withLabel .suffix {
  position: absolute;
  bottom: 0;
  line-height: 1.92rem;
  padding-left: 1rem;
  user-select: none;
}

.withLabel .prefix {
  top: 0.875rem;
  left: 0;
}

.withLabel .suffix {
  top: 1rem;
  right: 1rem;
}

.withLabel input {
  padding: 0.5rem 1rem;
  margin: 0;
  min-height: 1.5rem;
  font-size: 1rem;
  line-height: 1.5625rem;
  outline: none;
  border: none;
  overflow: visible;
}

.withLabel.prefixed input {
  text-indent: 1.125rem;
}

.helperText {
  position: absolute;
  bottom: -1.5rem;
  left: 0;
}

.helperText.error {
  color: var(--error);
}
