.container {
  position: relative;
}

.withLabel *,
.withoutLabel * {
  font-family: "Work Sans";
}

.withoutLabel {
  position: relative;
  width: 100%;
  height: 4rem;
  margin-bottom: 4rem;
  cursor: text;
}

.withoutLabel input {
  width: inherit;
  height: inherit;
  padding: 1.25rem 1rem;
  font-size: 1.125rem;
  line-height: 2.875rem;
  background-color: var(--white);
  outline: none;
  border: none;
  border-radius: var(--input-border-radius);
  border-bottom: 2px var(--primary-purple) solid;
}

.withoutLabel input:hover,
.withoutLabel input:focus {
  border-bottom: 2px var(--action-cyan) solid;
}

.withoutLabel input:disabled {
  border-bottom-color: var(--primary-purple);
}

.withoutLabel input:disabled {
  opacity: 0.2;
}

.withoutLabel span {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  font-size: 1.125rem;
  line-height: 1.55rem;
  padding: 1.25rem 1rem;
  user-select: none;
}

.withoutLabel.prefixed input {
  text-indent: 1.625rem;
}

.withLabel {
  position: relative;
  width: 100%;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--white);
  border: none;
  border-radius: var(--input-border-radius);
  border-bottom: 2px solid transparent;
}

.withLabel label {
  padding-top: 0.125rem;
  margin: 0 1rem;
  font-size: 0.8125rem;
  line-height: 1.5625rem;
  height: 1.625rem;
  color: var(--midnight);
  transition: all 350ms cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: text;
  user-select: none;
}

.withLabel hr {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  margin: -2px 0;
  width: 99.9%;
  height: 0.125rem;
  background-color: var(--primary-purple);
  transition: all 350ms cubic-bezier(0.165, 0.84, 0.44, 1);
  border: none;
  overflow: visible;
}

.withLabel .prefix,
.withLabel .suffix {
  position: absolute;
  top: 1.625rem;
  bottom: 0;
  line-height: 1.92rem;
  padding-left: 1rem;
  user-select: none;
}

.withLabel .prefix {
  left: 0;
}

.withLabel .suffix {
  right: 1rem;
}

.withLabel input {
  padding: 0 1rem 0.5rem 1rem;
  margin: 0;
  min-height: 1.5rem;
  font-size: 1rem;
  line-height: 1.5625rem;
  outline: none;
  border: none;
  overflow: visible;
}

.withLabel.prefixed input {
  text-indent: 1.125rem;
}

.withLabel.hovered label,
.withLabel.focused label {
  color: var(--action-cyan);
}

.withLabel.hovered hr,
.withLabel.focused hr {
  background-color: var(--action-cyan);
}

.withLabel.valid label {
  color: var(--success);
}

.withLabel.valid hr {
  background-color: var(--success);
}

.withLabel.error label {
  color: var(--error);
}

.withLabel.error hr {
  background-color: var(--error);
}

.helperText {
  position: absolute;
  bottom: -1.5rem;
  left: 0;
}

.helperText.error {
  color: var(--error);
}
