.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1500;
}

.paper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  border-radius: 33px;
  padding: 3.25rem 10rem 4rem;
  margin-top: -15vh;
}

.paper:focus {
  outline: none;
}

.paper p {
  font-family: "Aeonik Bold";
  font-size: 1.125rem;
}
