.grid {
  max-width: 1366px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.title {
  color: var(--primary-purple);
}

.subtitle {
  font-family: "Aeonik Bold";
  font-size: 1.75rem;
  line-height: 32px;
  color: var(--midnight);
}

.cardTop {
  background-color: var(--white);
  border-radius: 8px 8px 0 0;
  padding: 2.625rem 4rem 2rem;
  margin-top: 3rem;
}

.cardBottom {
  background-color: var(--primary-purple);
  border-radius: 0 0 8px 8px;
  margin-bottom: 3rem;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  color: var(--white);
  font-family: "Aeonik Bold";
  font-size: 1.25rem;
}

.item {
  font-family: "Aeonik Bold";
  font-size: 1.25rem;
  line-height: 23px;
  color: var(--primary-purple);
  display: flex;
  justify-content: space-between;
}

.divider {
  width: 100%;
  height: 2px;
  border-width: 0;
  background-color: #f5f0f8;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.cardNumber {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.cardNumber span:first-of-type {
  color: var(--primary-purple);
}

.outstandingBalanceAfterPayment {
  font-size: 2.0625rem;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  border-radius: 33px;
  padding: 3.25rem 10rem 4rem;
  margin-top: -15vh;
}

.paper:focus {
  outline: none;
}

.paper p {
  font-family: "Aeonik Bold";
  font-size: 1.125rem;
}

.continueButtonsContainer {
  display: flex;
  align-items: center;
}

.summaryInfo {
  max-width: 1366px;
}

@media only screen and (max-width: 767px) {
  .title {
    font-size: 1.75rem;
    margin-bottom: 0;
  }

  .subtitle {
    font-size: 1.125rem;
  }

  .cardTop {
    padding: 1.5rem 1rem;
  }

  .item {
    font-size: 0.875rem;
  }

  .divider {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .cardBottom {
    font-size: 0.875rem;
    padding: 0 1rem;
    margin-bottom: 1rem;
  }

  .outstandingBalanceAfterPayment {
    font-size: 1.125rem;
  }
}

@media only screen and (max-width: 767px) {
  .continueButtonsContainer {
    width: 100%;
    flex-direction: column;
    margin: 0 2rem;
  }

  .backButton {
    order: 2;
    width: fit-content;
    margin: 1rem auto 0;
    padding: 10px 0;
  }

  .confirmButton {
    order: 1;
  }
}

@media only screen and (min-width: 768px) {
  .grid {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .title {
    margin-bottom: 1rem;
  }

  .summaryInfo {
    margin-bottom: 1rem;
  }
}

@media only screen and (min-width: 1024px) {
  .grid {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .title {
    margin-bottom: 2.5rem;
  }

  .summaryInfo {
    margin-bottom: 3rem;
  }
}
