section.amountSelection {
  padding: 1.5rem 0;
  border-bottom: 2px solid rgba(30, 10, 70, 0.1);
}

.subheading {
  font-size: 0.875rem;
  margin-top: 0;
  margin-bottom: 16px;
}

.card {
  width: 48vw;
  height: 100px;
  border: 2px solid rgba(85, 0, 145, 0.2);
  border-radius: 8px;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  cursor: pointer;
  transition: all 0.3s ease;
  border-color: rgba(30, 10, 70, 0.3);
  background-color: var(--white);
  user-select: none;
}

.card:hover {
  border-color: rgba(85, 0, 145, 0.4);
}

.cardsContainer {
  display: flex;
}

.card.fullAmountCard {
  margin-right: 4vw;
}

.card.partialAmountCard {
  align-items: center;
}

.card p {
  margin: 0;
  font-size: 0.8125rem;
}

.card p.fullAmount {
  font-size: 1.25rem;
}

.amountSelectedContainer {
  margin-top: -0.75rem;
  margin-bottom: -0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.amountSelectedContainer p {
  margin: 0;
}

.amountSelectedContainer p:last-of-type {
  font-size: 1rem;
}

.amountSelectedContainer p:last-of-type svg {
  margin-right: 4px;
}

.partialAmountInput {
  max-width: 236px;
  margin-top: 1.5rem;
  margin-bottom: 0.2rem;
}

.partialAmountInputHelp {
  font-size: 0.8125rem;
  line-height: 20px;
  margin-bottom: 1rem;
}

.partialAmountInfoMessage {
  max-width: 580px;
}

.mobileEditIcon {
  line-height: 0;
  padding: 12px;
}

@media only screen and (min-width: 768px) {
  .amountSelectedContainer {
    margin: 0;
  }

  .card {
    width: 150px;
  }

  .card.fullAmountCard {
    margin-right: 1.5rem;
  }
}

@media only screen and (min-width: 1024px) {
  section.amountSelection {
    border-top: 2px solid rgba(30, 10, 70, 0.1);
  }

  .amountSelectedContainer h3 {
    font-size: 1.5rem;
  }
}
