section.amountSelection {
  padding: 1.5rem 0;
  border-top: 2px solid rgba(30, 10, 70, 0.1);
  border-bottom: 2px solid rgba(30, 10, 70, 0.1);
}

.subheading {
  font-size: 0.875rem;
  margin-top: 0;
  margin-bottom: 16px;
}

.card {
  width: 150px;
  height: 100px;
  border: 2px solid rgba(30, 10, 70, 0.1);
  border-radius: 8px;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  cursor: pointer;
  transition: all 0.3s ease;
  border-color: var(--action-cyan);
  user-select: none;
}

.card:hover {
  border-color: var(--midnight);
}

.cardsContainer {
  display: flex;
}

.card:first-of-type {
  margin-right: 1.5rem;
}

.card:last-of-type {
  margin-right: 1.5rem;
  align-items: center;
}

.card p {
  margin: 0;
  font-size: 0.8125rem;
}

.card p.fullAmount {
  font-size: 1.25rem;
}

.fullAmountHeadingContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.fullAmountHeadingContainer p {
  margin: 0;
}

.fullAmountHeadingContainer p:first-of-type {
  font-family: "Aeonik Bold";
  font-size: 1.5rem;
}

.fullAmountHeadingContainer p:last-of-type {
  font-size: 1rem;
}

.fullAmountHeadingContainer p:last-of-type svg {
  margin-right: 4px;
}

.info {
  max-width: 490px;
  margin-top: 1.5rem;
  margin-bottom: 0.875rem;
  display: flex;
}

.info p {
  margin: 0;
  font-size: 1rem;
  line-height: 19px;
}

.info svg {
  margin-top: -6px;
  margin-right: 8px;
  width: 2rem;
  height: 2rem;
}
