.root {
  display: flex !important;
  justify-content: space-between !important;
  padding-top: 24px !important;
  padding-bottom: 24px !important;
  align-items: flex-start !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  z-index: 700 !important;
}

.container {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 2rem;
}

.appBar {
  transition: 300ms all ease-in-out !important;
  box-shadow: none !important;
}

.appBar:global(.scrolled) {
  background-color: var(--white) !important;
}

.buttonContainer {
  display: flex !important;
  align-items: center !important;
}

.buttonContainer svg {
  transition: all 0.3s ease-in !important;
  margin-left: 16px !important;
  cursor: pointer !important;
  fill: var(--action-cyan) !important;
}

.backdrop {
  z-index: 500 !important;
}

.logo:hover {
  opacity: 1 !important;
}

@media only screen and (max-width: 767px) {
  .root {
    height: 5rem !important;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 0 4rem;
  }
}
