section.paymentMethod {
  padding: 1.5rem 0;
  border-bottom: 2px solid rgba(30, 10, 70, 0.1);
}

section.paymentMethod h4 {
  margin-bottom: 0;
  opacity: 0.3;
}

section.paymentMethod.show h4 {
  margin-bottom: 1.5rem;
}

section.paymentMethod.show h4 {
  opacity: 1;
}

section.paymentMethod > div {
  margin-bottom: 2rem;
}

section.paymentMethod > div:last-child {
  margin-bottom: 1rem;
}

.collapse {
  margin: 0 !important;
}

.cardDetailsContainer {
  max-width: 350px;
}

.cardDetailsContainer > div {
  margin-bottom: 1.5rem;
}

.cardDetailsContainer > div:last-child {
  margin-bottom: 0.5rem;
}

.cardInput {
  position: relative;
  max-width: 350px;
  margin-bottom: 1.5rem;
}

.acceptedCards {
  position: absolute;
  top: 2rem;
  right: 1rem;
  display: flex;
  align-items: center;
}

.acceptedCards.invalid {
  opacity: 0.3;
}

.acceptedCards > svg {
  margin-left: 0.5rem;
}

@media only screen and (min-width: 768px) {
  .cardDetailsContainer {
    display: flex;
  }

  .cardDetailsContainer > div {
    max-width: 161px;
    margin-bottom: 0.875rem;
  }

  .cardDetailsContainer > div:first-child {
    margin-right: 1.75rem;
  }
}
