.container {
  padding-top: 174px;
  padding-bottom: 138px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--light-tint);
}

.grid {
  max-width: 1366px;
  padding-left: 4rem;
  padding-right: 4rem;
}

.greeting {
  margin-bottom: 0.5rem;
}

.heading {
  margin-bottom: 13.5px;
  color: var(--primary-purple);
}

.horizontalRule {
  width: 318px;
  height: 2px;
  margin-left: 0;
  margin-bottom: 85.5px;
  border-width: 0;
  background-color: var(--highlight);
}

.safeAndSecure {
  max-width: 200px;
  font-size: 1rem;
  line-height: 23px;
}

.buttonsContainer {
  margin-top: 1.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.buttonsContainer button:last-of-type {
  margin-left: 2rem;
}

@media only screen and (min-width: 768px) {
  .greeting {
    margin-bottom: 1.5rem;
  }

  .horizontalRule {
    width: 220px;
  }
}

@media only screen and (min-width: 1024px) {
  .greeting {
    margin-bottom: 2.5rem;
  }

  .heading {
    margin-bottom: 23.5px;
  }

  .horizontalRule {
    width: 270px;
  }
}
