.layout {
  padding-top: 80px;
}

.layout > svg {
  width: 100%;
}

.gridWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-purple);
}

.grid {
  max-width: 1366px;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid p {
  margin-top: 2.5rem;
}

.grid h1 {
  color: var(--primary-purple);
}

.darkGrid h1,
.darkGrid p {
  color: var(--white);
}

.lightGrid {
  padding-top: 5.75rem;
}

.nextSteps {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1366px;
  width: 100%;
  padding: 4rem;
  padding-bottom: 7.5rem;
}

.nextSteps > div {
  max-width: 265px;
}

.nextSteps h3 {
  margin-top: 3.25rem;
}

.downloadContainer {
  position: relative;
  width: 90vw;
  max-width: 1450px;
  padding: 1.75rem 5.75rem 0;
  color: var(--white);
  background-color: var(--primary-purple);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.downloadContainer h2 {
  margin-bottom: 2rem;
}

.downloadContainer svg {
  position: relative;
  right: 2vw;
}

.directDebitLink {
  margin: 0;
}

.directDebitLink * {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.265625rem;
}

@media only screen and (max-width: 1023px) {
  .grid h1 {
    text-align: center;
  }

  .darkGrid svg {
    width: 100%;
  }

  .nextSteps {
    justify-content: center;
  }

  .nextSteps > div {
    text-align: center;
  }

  .nextSteps h3 {
    margin-top: 0.5rem;
    margin-bottom: 4rem;
  }

  .nextSteps > div:last-of-type h3 {
    margin-bottom: 0;
  }

  .nextSteps svg {
    width: 80px;
    height: 80px;
  }
}

@media only screen and (max-width: 767px) {
  .darkGrid {
    padding-top: 1rem;
  }

  .heading {
    text-align: center;
  }

  .heading p {
    margin-top: 1.5rem;
  }

  .darkGrid svg {
    width: 270px;
  }

  .lightGrid h1 {
    text-align: center;
  }

  .downloadContainer {
    padding: 4rem 2rem;
    text-align: center;
  }

  .downloadContainer svg {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .grid {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .layout {
    padding-top: 88px;
  }

  .gridWrapper {
    height: 440px;
  }

  .downloadContainer h2 {
    max-width: 530px;
  }

  .downloadContainer svg {
    right: 0;
  }

  .directDebitLink * {
    font-size: 1.5rem;
    line-height: 1.6875rem;
  }
}

@media only screen and (min-width: 1024px) {
  .layout {
    padding-top: 92px;
  }

  .downloadContainer svg {
    right: 10vw;
  }

  .directDebitLink * {
    font-size: 2.0625rem;
    line-height: 2.3203125rem;
  }
}
